.WordHeader {
  text-align: start;
}

.WordHeader h2 {
  text-align: center;
  font-size: 40px;
  color: var(--primary-dark);
}

.WordHeader h4,
.WordHeader p {
  margin: 0;
}

.WordHeader small {
  font-size: 25px;
  opacity: 0.7;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .WordHeader h2 {
    font-size: 25px;
  }

  .WordHeader h2 small {
    font-size: 20px;
  }
}
